.details {
  padding-left: 30px;
  padding-top: 30px;
}

.link {
  border: 1px solid orangered;
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(255, 232, 232);
  color: black;
}

.moviePart {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.movieInfo {
  margin: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  text-wrap: wrap;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
  width: 1000px;
}
